<section id="hello" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-img-wrap">
        <div class="about-img">
          <img src="assets/img/banner.webp" alt="img" class="img-responsive wow fadeIn" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-me">
          <div class="about-me-title">
            <h1 style="margin-bottom: 1rem;"><span class="point">Gerson Aranibar</span></h1>
          </div>
          <div class="about-me-text">
            <div class="opacity-box">
              <p>Soy un ingeniero de sistemas especializado en análisis y desarrollo web. Actualmente trabajo como desarrollador independiente para estudiantes de universidades e institutos de educación superior brindando asesorías y soluciones tecnológicas con sofisticadas aplicaciones web empresariales.</p>
            </div>
          </div>
          <div class="about-me-info">
            <p>
              <span class="span-title">Teléfono</span>
              <span>+51940994003</span>
            </p>
            <p>
              <span class="span-title">Correo</span>
              <span>aranibargerson28@gmail.com</span>
            </p>
            <p>
              <span class="span-title">Dirección</span>
              <span>Independencia 15332, Lima - Perú</span>
            </p>
            <p>
              <span class="span-title">Social</span>
              <span class="span-icons">
                <a target="_blank" href="https://wa.me/51940994003" class="mdi mdi-whatsapp fonts-icons"></a>
                <a target="_blank" href="https://github.com/aranibar28/" class="mdi mdi-github fonts-icons"></a>
                <a target="_blank" href="https://www.linkedin.com/in/gerson-aranibar/" class="mdi mdi-linkedin fonts-icons"></a>
                <a target="_blank" href="https://discordapp.com/users/702928948144636116" class="mdi mdi-discord fonts-icons"></a>
                <a target="_blank" href="https://twitter.com/aranibar28/" class="mdi mdi-twitter fonts-icons"></a>
              </span>
            </p>
          </div>
          <div class="about-btns">
            <a data-toggle="modal" data-target="#contact-modal" class="site-btn pointer">Contacto</a>
            <a href="assets/download/cv_aranibar.pdf" target="_blank" class="site-btn gray-btn">Descargar CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
