<section id="education" class="section">
    <div class="container">
        <div class="row wave-bg">
            <app-zigzag></app-zigzag>
            <div class="col-md-4">
                <div class="section-sidebar">
                    <h2><span class="point">Educación</span></h2>
                    <div class="opacity-box">
                        <p>Toda mi vida me ha impulsado la firme creencia de que la educación es importante. Intento aprender algo nuevo cada día.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 right-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Bachiller, Ingeniería de Sistemas e Informática</h4>
                            <p class="about-info">May, 2015 — Dic, 2020</p>
                            <p>Universidad Técnologica del Perú</p>
                            <p class="about-tesis">Tesis de investigación: "Propuesta de diseño de un sistema web para mejorar el aprendizaje de los estudiantes del curso Principios de Algoritmos de una universidad privada-2020". <a class="text-primary" target="_blank" href="https://repositorio.utp.edu.pe/handle/20.500.12867/3966">[Ver]</a></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Ingeniero, Ingeniería de Sistemas e Informática</h4>
                            <p class="about-info">Ene, 2021 — Dic, 2021</p>
                            <p>Universidad Técnologica del Perú</p>
                            <p class="about-tesis">Tesis de investigación: "Implementación de un ERP Open Source integrando CRM para mejorar la gestión de logística de la empresa HERRWAR SAC, 2021". <a class="text-primary" target="_blank" href="https://repositorio.utp.edu.pe/handle/20.500.12867/5736">[Ver]</a></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Programa de Desarrollo Web Fullstack</h4>
                            <p class="about-info">Jun, 2021 — Dic, 2021</p>
                            <p>Bootcamp - Codigo by Tecsup</p>
                            <p class="about-tesis">Proyecto Final: Desarrollo de una aplicación de pedidos para Restaurantes: "Mi carta Digital". <a class="text-primary" target="_blank" href="https://frontcard.herokuapp.com/">[Ver]</a></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Inglés Intermedio</h4>
                            <p class="about-info">Ene, 2021 — Actualmente</p>
                            <p>Icpna</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
