<section id="skills" class="section">
  <div class="container">
    <div class="row wave-bg">
      <app-zigzag></app-zigzag>
      <div class="col-md-4">
        <div class="section-sidebar">
          <h2><span class="point">Skills</span></h2>
          <div class="opacity-box">
            <p>Me inspira crear un gran trabajo con personas que se apasionan tanto como yo por construir algo impresionante.</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="advantages-box">
              <h4>Análisis y Diseño de Sistemas</h4>
              <div class="opacity-box">
                <p>Levantamiento de información, documentación, análisis de requerimientos, modelado de datos, casos de uso, digramación UML.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <hr class="mobile-hr" />
            <div class="advantages-box">
              <h4>Especialista en Excel</h4>
              <div class="opacity-box">
                <p>Operaciones básicas, codicionales, formularios, gráficos, filtros avanzados, tablas dinámicas, base de datos, macros, solver.</p>
                <!-- <p>Maquetación de interfaces, construcción de landing pages, enrutamientos, lazyload, validación de formularios, consumo de apis.</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <hr />
            <div class="advantages-box">
              <h4>Desarrollo Frontend</h4>
              <div class="opacity-box">
                <p>HTML5, CSS3, SASS, JavaScript, TypeScript, Angular, React, Bootstrap, Tailwind, Bulma, Material.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="advantages-box">
              <hr />
              <h4>Desarrollo Backend</h4>
              <div class="opacity-box">
                <p>NodeJS, Python, PHP, Django, Express, Heroku, MySQL, SQLite, MongoDB, Firebase.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
