/* You can add global styles to this file, and also import other style files */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

a {
  margin: 0;
  cursor: pointer;
}

.d-none {
  display: none;
}

.about-tesis {
  opacity: 0.8;
  margin-top: 1rem;
}

.swiper {
  max-width: 770px;
  height: 480px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3333ff !important;
}

.btn-whatsapp-pulse {
  background: #25d366;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.btn-whatsapp-pulse,
.btn-whatsapp-pulse:active,
.btn-whatsapp-pulse:focus,
.btn-whatsapp-pulse:hover {
  color: white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.btn-whatsapp-pulse-border {
  animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  border: 5px solid #25d366;
  opacity: 0.75;
  animation-name: pulse-border;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse-border {
  0% {
    padding: 25px;
    opacity: 0.75;
  }
  75% {
    padding: 50px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.is-loading {
  .portfolio-img,
  .portfolio-name,
  .portfolio-date {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
  .portfolio-img {
    height: 158px;
  }
  .portfolio-name {
    height: 28px;
  }
  .portfolio-date {
    height: 24px;
  }
}

@keyframes shine {
  to {
    background-position: -200%;
  }
}

@media (max-width: 600px) {
  .portfolio-name,
  .portfolio-date {
    text-align: center;
  }

  .btn-whatsapp-pulse {
    display: none;
  }
}
